* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    min-height: 100vh;
}

nav {
    background: #1e293b;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

nav a:hover {
    color: #38bdf8;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 50px auto;
}

.hero {
    text-align: center;
    margin-bottom: 40px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero p {
    color: #94a3b8;
    font-size: 17px;
}

.card {
    background: #1e293b;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.card h2 {
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    background: #38bdf8;
    color: #0f172a;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #7dd3fc;
}

input {
    width: 100%;
    padding: 13px;
    margin-top: 8px;
    margin-bottom: 18px;
    border: 1px solid #475569;
    border-radius: 8px;
    background: #0f172a;
    color: white;
}

label {
    font-weight: bold;
}

.wifi-card {
    background: #1e293b;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    border-left: 4px solid #38bdf8;
}

.wifi-card p {
    margin: 10px 0;
}

.success {
    background: #14532d;
    color: #bbf7d0;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    color: #64748b;
    margin-top: 50px;
    padding: 20px;
  }
