<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Save Wi-Fi</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>


<body>

<nav>

    <div class="logo">
        Wi-Fi Manager
    </div>

    <div>

        <a href="/">Home</a>

        <a href="/save">Save</a>

        <a href="/view">View</a>

    </div>

</nav>


<div class="container">

    <div class="card">

        <h1>Save Wi-Fi</h1>

        <br>

        <form method="POST">

            <label>
                Wi-Fi Name
            </label>

            <input
                type="text"
                name="ssid"
                placeholder="Enter Wi-Fi name"
                required
            >


            <label>
                Password
            </label>

            <input
                type="password"
                name="password"
                placeholder="Enter Wi-Fi password"
                required
            >


            <button
                type="submit"
                class="btn">

                Save Wi-Fi

            </button>

        </form>

    </div>

</div>


<div class="footer">

    Wi-Fi Password Manager

</div>

</body>

</html>
